@import "tailwindcss";

@theme {
  --color-primary: #0074d9;
  --color-primary-dark: #03569e;
  --color-secondary: #3e7cb1;
  --color-secondary-dark: #2b5a82;
  --color-secondary-light: #509ad9;
}

* {
  scroll-behavior: smooth;
}

.component-px {
  @apply px-4 sm:px-8 md:px-12 lg:px-20 xl:px-24 2xl:px-32;
}
